/* Styles for Header.js */
.App {
	text-align: center;
}

.nav-bar {
	height: 10vh;
	display: flex;
	background-color: #ffc857;
}

.nav-bar a {
	text-decoration: none;
	width: 25%;
	color: white;
}
.public-nav {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.private-nav {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
